<div class="main-container-all">
  <div class="main-content-all">
    <h1 class="main-content-logo-all">
      <i class="fa-solid fa-paperclip" style="color: #41ec55;"></i>
      スケジュール
    </h1>
    
    <%= link_to new_post_path do %>
      <div class="main-content-link">
        <i class="fa-regular fa-calendar-plus" style="color: #def7d4;"></i>
        スケジュールを追加する
      </div>
    <% end %>
  </div>

  <div class="all-content">
    <table>
      <tr>
        <th>ID</th>
        <th>タイトル</th>
        <th>開始日</th>
        <th>終了日</th>
        <th>終日</th>
        <th>更新日時</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>

      <% @posts.each do |post| %>
        <tr>
          <td><%= post.id %></td>
          <td><%= post.title %></td>
          <td><%= post.start_day.strftime("%Y/%m/%d") %></td>
          <td><%= post.end_day.strftime("%Y/%m/%d") %></td>
          <td><%= convert_boolean_to_character(post.day_all) %></td>
          <td><%= post.updated_at.to_s(:datetime_jp) %></td>
          <td><%= link_to "詳細", "post_path(#{post.id})" %></td>
          <td><%= link_to "編集", "edit_post_path(#{post.id})" %></td>
          <td><%= link_to "削除", "post_path(#{post.id})", mathod: :delete %></td>
        </tr>
      <% end %>
    </table>
  </div>

  <div class="total-content">
    <p>Schedule数：<span><%= Post.count %></span> 件</p>
    <p>本日の日付：<%= @date %></p>
  </div>
</div>