<div class="main-container">
  <%= link_to "← 一覧に戻る", "/", class: "show-top-link" %>

  <div class="show-button">
    <P><%= @post.title %><p>

    <div class="show-edit">
      <%= link_to edit_post_path(@post.id) do %>
          編集
      <% end %>
    </div>
  </div>

  <div class="show-page-container">
    <table>
      <tr>
        <th>開始日</th>
        <td><%= @post.start_day %></td>
      </tr>
      <tr>
        <th>終了日</th>
        <td><%= @post.end_day %></td>
      </tr>
      <tr>
        <th>終日</th>
        <td><%= convert_boolean_to_character(@post.day_all) %></td>
      </tr>
      <tr>
        <th>スケジュールメモ</th>
        <td><%= @post.content %></td>
      </tr>
    </table>
  </div>
</div>
